<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        Hello world with ejs 2023
        <h1>Nguyen Xuan Bach</h1>
        <div>
            <img src="/images/379863414_828665755933865_3765156208596576692_n.jpg" />
        </div>
    </body>
</html>
